In [247]:
import pandas as pd
import requests
from pycoingecko import CoinGeckoAPI
from pprint import pprint
from datetime import datetime

In [36]:
cg = CoinGeckoAPI()

Se decide hacer un análisis por categoría

In [62]:
#Lista de todas las categorías
categoría=pd.DataFrame(cg.get_coins_categories_list())
categoría

                category_id                    name
0               aave-tokens             Aave Tokens
1        algorand-ecosystem      Algorand Ecosystem
2    alleged-sec-securities  Alleged SEC Securities
3                 analytics               Analytics
4             animal-racing           Animal Racing
..                      ...                     ...
202        yield-aggregator        Yield Aggregator
203           yield-farming           Yield Farming
204       zero-knowledge-zk     Zero Knowledge (ZK)
205       zilliqa-ecosystem       Zilliqa Ecosystem
206        zksync-ecosystem        ZkSync Ecosystem

[207 rows x 2 columns]

In [454]:
#Lista de todas las categorías con datos de mercado
datos_merc_ct=pd.DataFrame(cg.get_coins_categories(order='market_cap_asc'))
datos_merc_ct=datos_merc_ct.sort_values(by='market_cap',ascending=False).dropna(subset='market_cap')
datos_merc_ct=datos_merc_ct.head(5)

Top 5 de grupos con mayor "market_cap"

In [455]:
datos_merc_ct

,id,name,market_cap,market_cap_change_24h,content,top_3_coins,volume_24h,updated_at
114,layer-1,Layer 1 (L1),8.618834e+11,-2.330934,,[https://assets.coingecko.com/coins/images/1/s...,2.034994e+10,2023-08-16T21:20:19.710Z
113,smart-contract-platform,Smart Contract Platform,3.290123e+11,-3.863010,Smart contract platforms are usually blockchai...,[https://assets.coingecko.com/coins/images/279...,1.036886e+10,2023-08-16T21:20:06.780Z
112,stablecoins,Stablecoins,1.244844e+11,-0.335983,,[https://assets.coingecko.com/coins/images/325...,2.902689e+10,2023-08-16T21:20:06.406Z
111,alleged-sec-securities,Alleged SEC Securities,8.719853e+10,-5.829467,Tokens and cryptocurrencies alleged to be secu...,[https://assets.coingecko.com/coins/images/825...,3.209516e+09,2023-08-16T21:20:03.371Z
110,exchange-based-tokens,Exchange-based Tokens,5.671039e+10,-4.500253,These tokens are normally associated with both...,[https://assets.coingecko.com/coins/images/825...,1.338869e+09,2023-08-16T21:20:08.773Z

In [161]:
datos_merc_ct['top_3_coins'][112]

['https://assets.coingecko.com/coins/images/325/small/Tether.png?1668148663',
 'https://assets.coingecko.com/coins/images/6319/small/USD_Coin_icon.png?1547042389',
 'https://assets.coingecko.com/coins/images/9956/small/Badge_Dai.png?1687143508']

In [456]:
list=[]
crypto_names=[]
for i in datos_merc_ct['top_3_coins']:
    list.append(i)

for sublist in list:
    for url in sublist:
        # Obtener el nombre de la criptomoneda a partir de la URL
        name = url.split('/')[-1].split('.')[0]
        crypto_names.append(name)

In [468]:
crypto_names

['bitcoin',
 'ethereum',
 'bnb-icon2_2x',
 'ethereum',
 'bnb-icon2_2x',
 'cardano',
 'Tether',
 'USD_Coin_icon',
 'Badge_Dai',
 'bnb-icon2_2x',
 'cardano',
 'solana',
 'bnb-icon2_2x',
 'uni',
 'leo-token']

In [457]:
unique_crypto_names = set(crypto_names)
unique_crypto_names

{'Badge_Dai',
 'Tether',
 'USD_Coin_icon',
 'bitcoin',
 'bnb-icon2_2x',
 'cardano',
 'ethereum',
 'leo-token',
 'solana',
 'uni'}

In [462]:
def get_coin_list():
    return cg.get_coins_list()

In [463]:
df1=get_coin_list()
df1=pd.DataFrame(df1)

In [464]:
nombres_filtrar=['USD Coin','Dai','Tether','Bitcoin','BNB','Cardano','Ethereum','LEO Token','Solana','Uniswap']
criptos = df1[df1['name'].isin(nombres_filtrar)]
criptos

               id symbol       name
1085  binancecoin    bnb        BNB
1140      bitcoin    btc    Bitcoin
1605      cardano    ada    Cardano
2299          dai    dai        Dai
3075     ethereum    eth   Ethereum
4932    leo-token    leo  LEO Token
7981       solana    sol     Solana
8599       tether   usdt     Tether
9046      uniswap    uni    Uniswap
9111     usd-coin   usdc   USD Coin

### Generando Datos para las diferentes Criptos Seleccionadas:

Obtenga datos de mercado históricos que incluyen precio, capitalización de mercado y volumen de 24 horas dentro de un rango de marca de tiempo (granularidad automática)

In [267]:
def get_coin_market_chart_range_by_id(id:str,markert_chart:str,to:str,From:str):
    ''' Ejem: id = Bitcoin , markert_chart = usd, to = 1660539600, from = 1692079200 '''
    return cg.get_coin_market_chart_range_by_id(id,markert_chart,to,From)

In [407]:
from datetime import datetime
#2022-08-15 05:00:00 ----> 1660539600
#2023-08-15 06:00:00 ----> 1692079200
timestamp = 1660608000

# Convertir el timestamp a una fecha legible
fecha_legible = datetime.utcfromtimestamp(timestamp).strftime('%Y-%m-%d %H:%M:%S')

print(fecha_legible)

2022-08-16 00:00:00

Bitcoin

In [429]:
gcmcrange=get_coin_market_chart_range_by_id('bitcoin','usd','1660539600','1692079200')
df_bitcoin_market=pd.DataFrame(gcmcrange)
df_bitcoin_market.sample(3)

,prices,market_caps,total_volumes
165,"[1674864000000, 23082.858382122955]","[1674864000000, 444898315874.05536]","[1674864000000, 36109035905.258965]"
8,"[1661299200000, 21562.45153991356]","[1661299200000, 412338357271.39594]","[1661299200000, 29331102121.793316]"
100,"[1669248000000, 16608.00998544357]","[1669248000000, 319494112507.07404]","[1669248000000, 26858079944.170044]"

In [430]:
def extract_unix_timestamp(item):
    fecha_ilegible= item[0] // 1000  # Dividir por 1000 para obtener 10 dígitos
    fecha_legible = datetime.utcfromtimestamp(fecha_ilegible).strftime('%Y-%m-%d')
    return fecha_legible

In [431]:
df_bitcoin_market['fechas'] = df_bitcoin_market['prices'].apply(extract_unix_timestamp)

In [432]:
df_bitcoin_market.sample(3)

,prices,market_caps,total_volumes,fechas
255,"[1682640000000, 29483.52170499186]","[1682640000000, 570258039118.5771]","[1682640000000, 26238597379.49954]",2023-04-28
339,"[1689897600000, 29787.041530355687]","[1689897600000, 579308712612.258]","[1689897600000, 11117456853.464512]",2023-07-21
356,"[1691366400000, 29044.204375577556]","[1691366400000, 564947914083.0184]","[1691366400000, 5360283576.269965]",2023-08-07

In [433]:
def remove_unix_timestamp(item):
    return item[1]

In [434]:
for i in df_bitcoin_market:
    df_bitcoin_market[i+'new'] = df_bitcoin_market[i].apply(remove_unix_timestamp)

columnas_a_eliminar = ['prices', 'market_caps','total_volumes','fechasnew']
df_bitcoin_market=df_bitcoin_market.drop(columns= columnas_a_eliminar)

In [435]:
df_bitcoin_market.insert(0, 'Cripto', 'bitcoin')
df_bitcoin_market.sample(3)

      Cripto      fechas     pricesnew  market_capsnew  total_volumesnew
170  bitcoin  2023-02-02  23725.161796    4.573831e+11      3.745206e+10
51   bitcoin  2022-10-06  20161.830615    3.863689e+11      2.936634e+10
44   bitcoin  2022-09-29  19444.787771    3.728921e+11      4.749426e+10

binancecoin

In [436]:
#Creación DataFrame
gcmcrange=get_coin_market_chart_range_by_id('binancecoin','usd','1660539600','1692079200')
df_binancecoin_market=pd.DataFrame(gcmcrange)
#Extracción Fechas:
df_binancecoin_market['fechas'] = df_binancecoin_market['prices'].apply(extract_unix_timestamp)
#Remove Unix Time
for i in df_binancecoin_market:
    df_binancecoin_market[i+'new'] = df_binancecoin_market[i].apply(remove_unix_timestamp)

columnas_a_eliminar = ['prices', 'market_caps','total_volumes','fechasnew']
df_binancecoin_market=df_binancecoin_market.drop(columns= columnas_a_eliminar)
#Agregando Columna con ID 
df_binancecoin_market.insert(0, 'Cripto', 'binancecoin')
df_binancecoin_market.sample(3)

          Cripto      fechas   pricesnew  market_capsnew  total_volumesnew
266  binancecoin  2023-05-09  313.941569    4.954905e+10      6.215249e+08
131  binancecoin  2022-12-25  244.742294    3.995671e+10      2.634458e+08
357  binancecoin  2023-08-08  241.738425    3.717691e+10      4.101204e+08

cardano

In [438]:
#Creación DataFrame
gcmcrange=get_coin_market_chart_range_by_id('cardano','usd','1660539600','1692079200')
df_cardano_market=pd.DataFrame(gcmcrange)
#Extracción Fechas:
df_cardano_market['fechas'] = df_cardano_market['prices'].apply(extract_unix_timestamp)
#Remove Unix Time
for i in df_cardano_market:
    df_cardano_market[i+'new'] = df_cardano_market[i].apply(remove_unix_timestamp)

columnas_a_eliminar = ['prices', 'market_caps','total_volumes','fechasnew']
df_cardano_market=df_cardano_market.drop(columns= columnas_a_eliminar)
#Agregando Columna con ID 
df_cardano_market.insert(0, 'Cripto', 'cardano')
df_cardano_market.sample(3)

      Cripto      fechas  pricesnew  market_capsnew  total_volumesnew
268  cardano  2023-05-11   0.370609    1.297544e+10      3.655594e+08
178  cardano  2023-02-10   0.362532    1.270064e+10      4.909103e+08
56   cardano  2022-10-11   0.402073    1.365334e+10      4.337278e+08

dai

In [439]:
#Creación DataFrame
gcmcrange=get_coin_market_chart_range_by_id('dai','usd','1660539600','1692079200')
df_dai_market=pd.DataFrame(gcmcrange)
#Extracción Fechas:
df_dai_market['fechas'] = df_dai_market['prices'].apply(extract_unix_timestamp)
#Remove Unix Time
for i in df_dai_market:
    df_dai_market[i+'new'] = df_dai_market[i].apply(remove_unix_timestamp)

columnas_a_eliminar = ['prices', 'market_caps','total_volumes','fechasnew']
df_dai_market=df_dai_market.drop(columns= columnas_a_eliminar)
#Agregando Columna con ID 
df_dai_market.insert(0, 'Cripto', 'dai')
df_dai_market.sample(3)

    Cripto      fechas  pricesnew  market_capsnew  total_volumesnew
343    dai  2023-07-25   1.000227    4.201417e+09      8.382862e+07
88     dai  2022-11-12   1.004833    5.401442e+09      6.836373e+08
306    dai  2023-06-18   0.999031    4.412437e+09      9.684355e+07

ethereum

In [441]:
#Creación DataFrame
gcmcrange=get_coin_market_chart_range_by_id('ethereum','usd','1660539600','1692079200')
df_ethereum_market=pd.DataFrame(gcmcrange)
#Extracción Fechas:
df_ethereum_market['fechas'] = df_ethereum_market['prices'].apply(extract_unix_timestamp)
#Remove Unix Time
for i in df_ethereum_market:
    df_ethereum_market[i+'new'] = df_ethereum_market[i].apply(remove_unix_timestamp)

columnas_a_eliminar = ['prices', 'market_caps','total_volumes','fechasnew']
df_ethereum_market=df_ethereum_market.drop(columns= columnas_a_eliminar)
#Agregando Columna con ID 
df_ethereum_market.insert(0, 'Cripto', 'ethereum')
df_ethereum_market.sample(3)

       Cripto      fechas    pricesnew  market_capsnew  total_volumesnew
184  ethereum  2023-02-16  1674.858207    2.015953e+11      1.107923e+10
61   ethereum  2022-10-16  1275.693777    1.544961e+11      5.743907e+09
316  ethereum  2023-06-28  1890.012904    2.271431e+11      8.806435e+09

leo-token

In [442]:
#Creación DataFrame
gcmcrange=get_coin_market_chart_range_by_id('leo-token','usd','1660539600','1692079200')
df_leo_token_market=pd.DataFrame(gcmcrange)
#Extracción Fechas:
df_leo_token_market['fechas'] = df_leo_token_market['prices'].apply(extract_unix_timestamp)
#Remove Unix Time
for i in df_leo_token_market:
    df_leo_token_market[i+'new'] = df_leo_token_market[i].apply(remove_unix_timestamp)

columnas_a_eliminar = ['prices', 'market_caps','total_volumes','fechasnew']
df_leo_token_market=df_leo_token_market.drop(columns= columnas_a_eliminar)
#Agregando Columna con ID 
df_leo_token_market.insert(0, 'Cripto', 'leo-token')
df_leo_token_market.sample(3)

        Cripto      fechas  pricesnew  market_capsnew  total_volumesnew
221  leo-token  2023-03-25   3.472759    3.227618e+09      6.903035e+05
282  leo-token  2023-05-25   3.539751    3.295603e+09      2.160402e+05
357  leo-token  2023-08-08   4.001995    3.712019e+09      1.138134e+06

solana

In [443]:
#Creación DataFrame
gcmcrange=get_coin_market_chart_range_by_id('solana','usd','1660539600','1692079200')
df_solana_market=pd.DataFrame(gcmcrange)
#Extracción Fechas:
df_solana_market['fechas'] = df_solana_market['prices'].apply(extract_unix_timestamp)
#Remove Unix Time
for i in df_solana_market:
    df_solana_market[i+'new'] = df_solana_market[i].apply(remove_unix_timestamp)

columnas_a_eliminar = ['prices', 'market_caps','total_volumes','fechasnew']
df_solana_market=df_solana_market.drop(columns= columnas_a_eliminar)
#Agregando Columna con ID 
df_solana_market.insert(0, 'Cripto', 'solana')
df_solana_market.sample(3)

     Cripto      fechas  pricesnew  market_capsnew  total_volumesnew
136  solana  2022-12-30   9.597795    3.537484e+09      8.383178e+08
320  solana  2023-07-02  18.612770    7.437497e+09      2.807187e+08
98   solana  2022-11-22  11.918134    4.319146e+09      4.848047e+08

tether

In [444]:
#Creación DataFrame
gcmcrange=get_coin_market_chart_range_by_id('tether','usd','1660539600','1692079200')
df_tether_market=pd.DataFrame(gcmcrange)
#Extracción Fechas:
df_tether_market['fechas'] = df_tether_market['prices'].apply(extract_unix_timestamp)
#Remove Unix Time
for i in df_tether_market:
    df_tether_market[i+'new'] = df_tether_market[i].apply(remove_unix_timestamp)

columnas_a_eliminar = ['prices', 'market_caps','total_volumes','fechasnew']
df_tether_market=df_tether_market.drop(columns= columnas_a_eliminar)
#Agregando Columna con ID 
df_tether_market.insert(0, 'Cripto', 'tether')
df_tether_market.sample(3)

     Cripto      fechas  pricesnew  market_capsnew  total_volumesnew
294  tether  2023-06-06   1.001460    8.321468e+10      2.060696e+10
283  tether  2023-05-26   0.999855    8.305043e+10      2.062680e+10
331  tether  2023-07-13   1.000507    8.340328e+10      1.790632e+10

uniswap

In [445]:
#Creación DataFrame
gcmcrange=get_coin_market_chart_range_by_id('uniswap','usd','1660539600','1692079200')
df_uniswap_market=pd.DataFrame(gcmcrange)
#Extracción Fechas:
df_uniswap_market['fechas'] = df_uniswap_market['prices'].apply(extract_unix_timestamp)
#Remove Unix Time
for i in df_uniswap_market:
    df_uniswap_market[i+'new'] = df_uniswap_market[i].apply(remove_unix_timestamp)

columnas_a_eliminar = ['prices', 'market_caps','total_volumes','fechasnew']
df_uniswap_market=df_uniswap_market.drop(columns= columnas_a_eliminar)
#Agregando Columna con ID 
df_uniswap_market.insert(0, 'Cripto', 'uniswap')
df_uniswap_market.sample(3)

      Cripto      fechas  pricesnew  market_capsnew  total_volumesnew
235  uniswap  2023-04-08   6.005197    4.528857e+09      6.481373e+07
45   uniswap  2022-09-30   6.366893    4.799652e+09      1.209593e+08
60   uniswap  2022-10-15   6.300054    4.760731e+09      1.463646e+08

usd-coin

In [446]:
#Creación DataFrame
gcmcrange=get_coin_market_chart_range_by_id('usd-coin','usd','1660539600','1692079200')
df_usd_coin_market=pd.DataFrame(gcmcrange)
#Extracción Fechas:
df_usd_coin_market['fechas'] = df_usd_coin_market['prices'].apply(extract_unix_timestamp)
#Remove Unix Time
for i in df_usd_coin_market:
    df_usd_coin_market[i+'new'] = df_usd_coin_market[i].apply(remove_unix_timestamp)

columnas_a_eliminar = ['prices', 'market_caps','total_volumes','fechasnew']
df_usd_coin_market=df_usd_coin_market.drop(columns= columnas_a_eliminar)
#Agregando Columna con ID 
df_usd_coin_market.insert(0, 'Cripto', 'usd-coin')
df_usd_coin_market.sample(3)

       Cripto      fechas  pricesnew  market_capsnew  total_volumesnew
31   usd-coin  2022-09-16   1.000285    5.036296e+10      7.489176e+09
77   usd-coin  2022-11-01   0.999732    4.340496e+10      5.242404e+09
250  usd-coin  2023-04-23   1.001342    3.080082e+10      3.156943e+09

UNION DATOS

In [452]:
# Lista de DataFrames a agregar
dataframes = [df_bitcoin_market,df_binancecoin_market, df_cardano_market,df_dai_market,df_ethereum_market,
              df_leo_token_market,df_solana_market,df_tether_market,df_uniswap_market,
              df_usd_coin_market]

df_concatenated = pd.concat(dataframes, ignore_index=True)

In [465]:
df_concatenated.to_csv('price_market_cap_total_volum.csv')

OTROS

In [ ]:
#Obtenga el precio actual de cualquier criptomoneda en cualquier otra moneda admitida 
#que necesite.
def get_prices(coin_ids: str, vs_currencies: str):
    prices = cg.get_price(
        ids=coin_ids,
        vs_currencies=vs_currencies
    )
    return prices

In [ ]:
#Se pasan los id
id_cripto = criptos['id'].tolist()
getprices=get_prices(id_cripto,'usd,mxn')
dfgetprices=pd.DataFrame(getprices)
dfgetprices

In [ ]:
#Incluyendo más valores actuales:
getpricesfull=cg.get_price(ids=id_cripto, vs_currencies='usd,mxn', include_market_cap='true', include_24hr_vol='true', include_24hr_change='true', include_last_updated_at='true')
dfgetpricesfull=pd.DataFrame(getpricesfull)
dfgetpricesfull

In [15]:
def get_coins_markets(vs_currency: str):
    return cg.get_coins_markets(vs_currency)

In [31]:
def get_coin_by_id(id: str):
    return cg.get_coin_by_id(id)

In [ ]:
get_coin_by_id('')

In [ ]:
def get_coin_ohlc_by_id(id: str, vs_curreny: str, days:str):
    """
        Example response:
        	
        successful operation

        [
            1594382400000 (time),
            1.1 (open),
            2.2 (high),
            3.3 (low),
            4.4 (close)
        ]
    """
    return cg.get_coin_ohlc_by_id(id, vs_curreny, days)

In [ ]:
def get_global_data(descentralized=False):

    if descentralized:
        return cg.get_global_decentralized_finance_defi()
    
    return cg.get_global()

In [ ]:
def get_asset_platforms():
    return cg.get_search_trending()
()

get_asset_platforms()

In [12]:
df2=pd.DataFrame(df)
df2

     bitcoin  ethereum  solana
usd    29144   1822.76   24.08
eur    26728   1671.68   22.09

In [ ]:
response2= requests.get("https://api.geckoterminal.com/api/v2/networks")
print(response2)

In [ ]:
response= requests.get("https://api.geckoterminal.com/api/v2/networks?page=1' \
  -H 'accept: application/json")
print(response.json())